/* Signup.css */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    max-height: max-content;
  }
 .form-container{
    background-color: white;
    padding: 20px;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 100%;
    width:  400px;
 }

 .heading{
    background: linear-gradient(to right,rgb(145, 34, 160),rgb(102, 221, 152),rgb(124, 102, 221),rgb(170, 18, 112));
    color: transparent;
    background-clip: text;
 }
 
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .inputLabel{

    font-size:  20px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #9358d6;

}

  .form-control {
    width: 100%;
    padding: 5px 0; /* Adjust padding as needed */
    margin: 0; /* Reset margin */
    font-size: 16px; /* Adjust font size as needed */
    outline:  none;
  }

  .invalid-feedback{
    font-size: 14px;
    color: red;
    padding-top: 5px;
  }
  
  .btn-primary {
    width: 100%;
    background: linear-gradient(45deg,rgb(145, 34, 160),rgb(201, 102, 221),rgb(124, 102, 221),rgb(170, 18, 112));
    border: 1px solid #9358d6; /* Button border color */
    color:transparent; /* Button text color */
    background-clip: text;
    padding: 5px 0; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background: linear-gradient(45deg,rgb(145, 34, 160),rgb(102, 221, 152),rgb(124, 102, 221),rgb(170, 18, 112));
    color: #fff;
  }
  .form-extra{
    font-size: 18px;
    font-weight: 300;
    color:  rgb(133, 104, 139);
    padding-top: 10px;
    text-align: center;
  }
  .form-navigate{
    color: purple;
    font-weight: 500;
  }
  